@import "./variables";

// Reset
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  // customize
  
  body {
    background-color: $primary;
  }

  //colors
  a{
      color:$primary
  }