// colors

$primary: #477cff !default;
$light_blue: #eff1ff !default;
$mid_blue: #bfceff !default;
$gray:gray;

//spaces 
$p-1:1rem;
$p-2:2rem;
$p-3:3rem;
$p-4:4rem;

// border-radius 
$border-radius-mid:10px


