// colors
$primary: #477cff !default;
$light_blue: #eff1ff !default;
$mid_blue: #bfceff !default;
$gray:gray;

//spaces 
$p-1:0.5rem;
$p-2:1rem;
$p-3:1.5rem;
$p-4:2rem;

// border-radius 
$border-radius-high:15px;
$border-radius-mid:10px


